<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img width="40" alt="Cielo Pay" src="../assets/Logo-Cielo_segundario.png" />
    <span style="padding-left: 15px;">Mini app fake </span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button aria-label="Carrinho">
      <mat-icon class="toolbar-icon" matBadge="{{ productCount }}" matBadgeHidden="{{ productCount === 0 }}" matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <button mat-icon-button aria-label="Fechar" (click)="close()">
      <mat-icon class="toolbar-icon" aria-hidden="false" aria-label="Fechar">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="header">
  <ng-template #guestTemplate>
    Olá, visitante.
  </ng-template>
  <div *ngIf="guest && setup;else guestTemplate">
      Olá, {{ guest.email }} - {{ setup.platform }}
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
  <footer>
    <div>Cielo Pay - Mini Apps</div>
  </footer>
</div>