
<div class="content">
    <h2>Mini App</h2>
    <p>funcionalidades disponíveis</p>
    <input type="hidden" #selection>
  
    <div class="card-container">
      <div class="card card-small" (click)="askMeSetup()" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
  
        <span>AskMeSetup</span>
      </div>
  
      <div class="card card-small" (click)="askMeAuthentication()" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Authentication</span>
      </div>
  
      <div class="card card-small" (click)="startPaymentsFlow()" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
        <span>Start Payment</span>
      </div>
  
      <div class="card card-small" (click)="showLoadingModal()" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
  
        <span>Show Loading Modal</span>
      </div>
  
      <div class="card card-small" (click)="closeMiniApp()" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
  
        <span>Close Mini App</span>
      </div>
  
      <div class="card card-small" (click)="showScannerCodeReader()" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
  
        <span>Show Scanner Code</span>
      </div>
  
      <div class="card card-small" (click)="willRedirectFromScannerCodeReader()" tabindex="0">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" /></svg>
  
        <span>Redirect code manually</span>
      </div>
    </div>
  
    <!-- Terminal -->
    <div class="terminal">
      <pre>{{ result }}</pre>
    </div>