<div class="payment-content">
    <h2>Pagamento</h2>
    <p>Clique em pagar para continuar <a href="#" (click)="goBack()">Voltar</a></p>
    <mat-divider></mat-divider>

    <div>
        <div *ngIf="isLoading">
            <mat-spinner style="margin: 0 auto;" value="indeterminate"></mat-spinner>
        </div>

        <table mat-table [dataSource]="items" class="table">
            <ng-container matColumnDef="productName">
                <th mat-header-cell *matHeaderCellDef>Item</th>
                <td mat-cell *matCellDef="let element">{{ element.product.name }}</td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Qtd</th>
                <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>
            <ng-container matColumnDef="totalValue">
                <th mat-header-cell *matHeaderCellDef>Total</th>
                <td mat-cell *matCellDef="let element">{{ element.totalValue | currency }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <mat-divider></mat-divider>
    <div class="payment">
        <mat-form-field>
            <mat-label>Parcelas</mat-label>
            <mat-select [(ngModel)]="installments">
                <mat-option value="1">1 x {{ (totalCart / 1) | currency}}</mat-option>
                <mat-option value="1">2 x {{ (totalCart / 2) | currency}}</mat-option>
            </mat-select>
        </mat-form-field>
        <div class="amount">{{ totalCart | currency }}</div>
        <button mat-raised-button color="primary" (click)="processPayment()">Pagar</button>
    </div>
</div>